* {
  box-sizing: border-box;
}

.container{
  display: grid;
  grid-template-columns: repeat(6,auto);
  border: 1px solid red;
  width: 80%;
  margin: auto;
  grid-gap: 30px
}

div{
  border: 1px solid red;
  height: 200px;
  text-align: center;
}



.front1, .front2, .front3 , .front4, .front5, .front6{
  display: none;
  width:100%;
  height: 100%;
}


/* inline opposite of none */
.back,.flipped img, .match img{
  display: inline;
  width:100%;
  height: 100%;
}

.flipped .back{
  display: none;
}

.match .back{
  display: none;
}

/* .match img{
  border: 2px solid gold
} */
